header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.2rem;

	@media (min-width: 640px) {
		flex-direction: row;
		gap: 1rem;
	}
}

.logo {
	width: 100%;

	@media (min-width: 640px) {
		max-width: 13rem;
	}
}

form {
	padding: 0.2rem;
	position: relative;
	width: 100%;

	@media (min-width: 640px) {
		width: 18rem;
	}
}

form svg {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	left: 0.5rem;
}

form input {
	padding: 0.1rem 0.1rem 0.1rem 1.2rem;
	width: 100%;
	border-radius: 1rem;
}

.header-items {
	display: flex;
	gap: 1rem;
	width: 100%;
	justify-content: space-between;
}

.buttons {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
}

nav ul {
	display: flex;
	flex-direction: column;
	padding: 0.2rem;
	list-style-type: none;
	font-size: large;

	@media (min-width: 640px) {
		flex-direction: row;
		gap: 1.5rem;
	}
}

nav li a,
nav li a:visited,
nav li a:active {
	text-decoration: none;
	color: black;
}

nav li a:hover {
	color: white;
}
