*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.full {
	width: 100%;
}

.width-40 {
	max-width: 40%;
}

.icon {
	display: flex;
	align-content: center;
}

.icon-small {
	height: 1rem;
	width: 1rem;
}

.icon-medium {
	height: 1.5rem;
	width: 1.5rem;
}

body {
	font-family: "Courier New", Courier, monospace;
	padding: 1rem;
}
