body {
	display: grid;
	grid-template-areas:
		"header header"
		"aside main";
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 4.5dvh 92.5dvh;
}

main {
	grid-area: main;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
}

.preamble {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.preamble button {
	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: 1px 1px;
}

.table-icons {
	display: flex;
	justify-content: space-evenly;
}

col {
	border: 2px solid black;
}

table {
	border-collapse: collapse;
}

thead {
	background-color: rgb(151, 150, 150);
}

th {
	text-align: left;
	border-bottom: 2px solid black;
}

td {
	padding: 0.2rem 0;
}

tbody tr:nth-child(odd) {
	background-color: rgb(211, 209, 209);
}
