main {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
	gap: 1rem;
}

.checkout-large-screen {
	display: none;
	@media (min-width: 640px) {
		display: table;
	}
}

.items-container-mobile {
	@media (min-width: 640px) {
		display: none;
	}
}

.item-title {
	text-align: center;
	padding-bottom: 1rem;
}

col {
	border: 2px solid black;
}

table {
	border-collapse: collapse;
	width: 100%;
}

thead {
	background-color: rgb(151, 150, 150);
}

th {
	text-align: left;
}

td {
	padding: 0.2rem 0;
}

tbody tr:nth-child(odd) {
	background-color: rgb(211, 209, 209);
}

/* To fix it we just insert blank space after any empty td element */
td:empty::after {
	content: "\00a0";
}

.items-container {
	padding: 1rem;
	margin: 0.1rem 0;
	border: 2px solid black;
}
.items-container div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.customer-form-title {
	@media (max-width: 640px) {
		margin: auto;
	}
}

.customer-form {
	margin-top: 1rem;
}

.customer-form fieldset label,
.customer-form fieldset input {
	margin: 0 0.5rem;
}

.customer-form,
.customer-form fieldset {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.customer-form fieldset {
	padding: 1rem 0;
}

#street {
	@media (min-width: 1024px) {
		max-width: 75%;
	}
}

#postal {
	max-width: 40%;

	@media (min-width: 640px) {
		max-width: 30%;
	}

	@media (min-width: 1024px) {
		max-width: 20%;
	}
}

#city {
	@media (min-width: 640px) {
		max-width: 50%;
	}

	@media (min-width: 1024px) {
		max-width: 30%;
	}
}

.checkbox-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 0;
	gap: 0.5rem;
}

.button-wrapper {
	margin: auto;
}

.button-wrapper button {
	box-shadow: 0.1rem 0.1rem;
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
	width: 15rem;
}

.info-icons {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-around;
}

.info-icons div {
	display: flex;
	flex-basis: 100%;
	gap: 1rem;

	@media (min-width: 640px) {
		flex-basis: 40%;
	}

	@media (min-width: 1024px) {
		flex-basis: 20%;
	}
}
