header {
	padding: 0.2rem;
}

.logo {
	height: auto;
	max-height: 18rem;
	width: 100%;
}

search {
	padding: 0.2rem;
}

.header-items {
	display: flex;
	gap: 1rem;
	width: 100%;
	justify-content: space-between;
}

.buttons {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
}

.search-bar {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 25rem;
}

.search-bar svg {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	left: 0.2rem;
}

.search-bar input {
	padding: 0.1rem 0.1rem 0.1rem 1.2rem;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
}

nav {
	display: flex;
	flex-direction: column;
	padding: 0.2rem;
	list-style-type: none;
	font-size: large;
}

nav li a,
nav li a:visited,
nav li a:active {
	text-decoration: none;
	color: black;
}

nav li a:hover {
	color: white;
}
